$border-button: 1px solid rgba(0, 0, 0, .25);
$border-button-radius: 3px;

$app-header-height: 10%;
$app-search-height: 7%;

$forecast-main-font-size: 5vw;
$forecast-aux-font-size: 0.75 * $forecast-main-font-size;
$forecast-large-font-size: 2 * $forecast-main-font-size;
$forecast-small-font-size: 0.5 * $forecast-main-font-size;