<div class="forecast-short-day">
	<div class="day-title">{{appState.loc()}}Сегодня, 7 ноября</div>
	<div class="today-details">
		<table>
			<tr>
				<td class="temp">+31&deg;C</td>
				<td>
					<table class="stats">
						<tr>
							<td>Ветер: 5,0м/с</td>
						</tr>
						<tr>
							<td>Влажность: 38%</td>
						</tr>
						<tr>
							<td>Давление: 747 мм рт. ст.</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="weather-icon">
						<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
					</div>
					<div class="weather-details">
						Переменная облачность, небольшой дождь
					</div>
				</td>
			</tr>
		</table>
	</div>
	<table>
		<tr>
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-5</td>
			<td class="temp">0</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">+23</td>
			<td class="temp">+26</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-25</td>
			<td class="temp">+31</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">0</td>
			<td class="temp">+10</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>

<div class="forecast-short-day">
	<div class="day-title">Сегодня, 7 ноября</div>
	<div class="today-details"></div>
	<table>
		<tr>
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-5</td>
			<td class="temp">0</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">+23</td>
			<td class="temp">+26</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-25</td>
			<td class="temp">+31</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">0</td>
			<td class="temp">+10</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>

<div class="forecast-short-day">
	<div class="day-title">Сегодня, 7 ноября</div>
	<div class="today-details"></div>
	<table>
		<tr>
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-5</td>
			<td class="temp">0</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">+23</td>
			<td class="temp">+26</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-25</td>
			<td class="temp">+31</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">0</td>
			<td class="temp">+10</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>

<div class="forecast-short-day">
	<div class="day-title">Сегодня, 7 ноября</div>
	<div class="today-details"></div>
	<table>
		<tr>
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-5</td>
			<td class="temp">0</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">+23</td>
			<td class="temp">+26</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-25</td>
			<td class="temp">+31</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">0</td>
			<td class="temp">+10</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>

<div class="forecast-short-day">
	<div class="day-title">Сегодня, 7 ноября</div>
	<div class="today-details"></div>
	<table>
		<tr>
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-5</td>
			<td class="temp">0</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">+23</td>
			<td class="temp">+26</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-25</td>
			<td class="temp">+31</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">0</td>
			<td class="temp">+10</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>

<div class="forecast-short-day">
	<div class="day-title">Сегодня, 7 ноября</div>
	<div class="today-details"></div>
	<table>
		<tr>
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-5</td>
			<td class="temp">0</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">+23</td>
			<td class="temp">+26</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">-25</td>
			<td class="temp">+31</td>
			<td class="empty"></td>
		</tr>
		<tr>
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img src="http://ekb.shri14.ru/icons/bkn_d.svg" />
			</td>
			<td class="temp">0</td>
			<td class="temp">+10</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>