<div class="forecast-short-day" ng-repeat="day in appState.Forecast.days">
	<div class="day-title">
		<span ng-if="day.isWeekend" class="weekend">{{day.label}}</span>
		<span ng-if="!day.isWeekend">{{day.label}}</span>
	</div>
	<div class="today-details" ng-show="{{day.isToday}}" style="{{appState.Now.style}}">
		<table>
			<tr>
				<td class="temp">{{appState.Now.temp}}&deg;C</td>
				<td>
					<table class="stats">
						<tr>
							<td>Ветер: {{appState.Now.wind.speed.toFixed(1)}}м/с</td>
						</tr>
						<tr>
							<td>Влажность: {{appState.Now.humidity}}%</td>
						</tr>
						<tr>
							<td>Давление: {{appState.Now.pressure}} мм рт. ст.</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="weather-icon">
						<img ng-src="http://ekb.shri14.ru/icons/{{appState.Now.weather.icon}}.svg" />
					</div>
					<div class="weather-details">
						{{appState.Now.weather.description}}
					</div>
				</td>
			</tr>
		</table>
	</div>
	<table>
		<tr style="{{day.parts.morning.style}}">
			<td class="time-of-day">Утром</td>
			<td class="weather-icon">
				<img ng-src="http://ekb.shri14.ru/icons/{{day.parts.morning.weather.icon}}.svg" />
			</td>
			<td class="temp">{{day.parts.morning.temp.min}}</td>
			<td class="temp">{{day.parts.morning.temp.max}}</td>
			<td class="empty"></td>
		</tr>
		<tr style="{{day.parts.day.style}}">
			<td class="time-of-day">Днем</td>
			<td class="weather-icon">
				<img ng-src="http://ekb.shri14.ru/icons/{{day.parts.day.weather.icon}}.svg" />
			</td>
			<td class="temp">{{day.parts.day.temp.min}}</td>
			<td class="temp">{{day.parts.day.temp.max}}</td>
			<td class="empty"></td>
		</tr>
		<tr style="{{day.parts.evening.style}}">
			<td class="time-of-day">Вечером</td>
			<td class="weather-icon">
				<img ng-src="http://ekb.shri14.ru/icons/{{day.parts.evening.weather.icon}}.svg" />
			</td>
			<td class="temp">{{day.parts.evening.temp.min}}</td>
			<td class="temp">{{day.parts.evening.temp.max}}</td>
			<td class="empty"></td>
		</tr>
		<tr style="{{day.parts.night.style}}">
			<td class="time-of-day">Ночью</td>
			<td class="weather-icon">
				<img ng-src="http://ekb.shri14.ru/icons/{{day.parts.night.weather.icon}}.svg" />
			</td>
			<td class="temp">{{day.parts.night.temp.min}}</td>
			<td class="temp">{{day.parts.night.temp.max}}</td>
			<td class="empty"></td>
		</tr>
	</table>
</div>